.App {
  text-align: center;
  background-color: paleturquoise;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: burlywood;
}



button {
  
  background-color: green;
  border-radius: 4px;
  border-style: solid none;
}